<div class="d-flex align-items-center">
  <%= form_with url: translations_path, method: :get, local: true, class: 'custom custom-form-spacing', id: 'filter_form' do %>
    <div class="form-check form-check-inline mr-3">
      <%= check_box_tag 'time_filter', 'day', params[:time_filter] == 'day', id: 'filter_day', class: 'form-check-input', onchange: 'submitForm()' %>
      <%= label_tag 'filter_day', 'Past day', class: 'form-check-label' %>
    </div>
    <div class="form-check form-check-inline">
      <%= check_box_tag 'time_filter', 'week', params[:time_filter] == 'week', id: 'filter_week', class: 'form-check-input', onchange: 'submitForm()' %>
      <%= label_tag 'filter_week', 'Past week', class: 'form-check-label' %>
    </div>
  <% end %>

  <div class="ml-auto mb-3">
    <%= link_to 'New Translation', new_translation_path, class: 'btn btn-dark mr-2', style: 'width: 186px;' %>
  </div>

  <!--
    <% if user_signed_in? %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-light', style: 'width: 186px;' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-dark mr-2' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light' %>
    <% end %>
  -->
  
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered text-center col-md-12" id="translations">
    <thead>
      <tr>
        <th>Input Text</th>
        <th>Language</th>
        <th>Tone</th>
        <th>Context</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @translations.each do |translation| %>
        <tr>
          <td class="align-middle"><%= translation.input_text %></td>
          <td class="align-middle"><%= translation.language %></td>
          <td class="align-middle"><%= translation.tone %></td>
          <td class="align-middle"><%= translation.context %></td>
          <td class="col-sm-1">
            <%= link_to translation, class: 'btn btn-dark icon-btn' do %>
              <i class="fas fa-eye"></i> <!-- Font Awesome eye icon for 'Show' -->
              <span class="icon-label">Show</span>
            <% end %>
          </td>
          <td class="col-sm-1">
            <%= link_to edit_translation_path(translation), class: 'btn btn-secondary icon-btn' do %>
              <i class="fas fa-pen-nib icon"></i>
              <span class="icon-label">Edit</span>
            <% end %>
          </td>
          <td class="col-sm-1">
            <%= link_to translation_path(translation), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger icon-btn' do %>
              <i class="fas fa-trash-alt"></i> <!-- Font Awesome trash icon for 'Delete' -->
              <span class="icon-label">Delete</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>