<!--  This file is app/views/movies/index.html.erb -->

<table class="table table-striped col-md-12" id="translations">
  <thead>
    <tr>
      <th>Input Text</th>
      <th>Language</th>
      <th>Tone</th>
      <th>Context</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.input_text %></td>
        <td><%= translation.language %></td>
        <td><%= translation.tone %></td>
        <td><%= translation.context %></td>
        <td><%= link_to 'Show', translation, class: 'btn btn-primary col-6' %></td>
        <td>
          <%= link_to 'Delete', translation_path(translation), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-6' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Translation', new_translation_path, class: 'btn btn-primary' %>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-dark'%> |
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light' %>
<% end %>