<!--  This file is app/views/movies/index.html.erb -->

<table class="table table-striped col-md-12" id="translations">
  <thead>
    <tr>
      <th>Input Text</th>
      <th>Tone</th>
      <th>Context</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.input_text %></td>
        <td><%= translation.tone %></td>
        <td><%= translation.context %></td>
        <td><%= link_to 'Show', translation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Translation', new_translation_path, class: 'btn btn-primary' %>
