<div class="container mt-4">
  <h4 class="font-weight-bold mb-3">Create New Translation</h4>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= form_with model: @translation, local: true do |form| %>

    <div class="card">
      <div class="card-body">
      
        <div class="mb-3">
          <%= form.label :input_text, 'What would you like to translate today?', class: 'col-form-label font-weight-bold' %>
          <%= form.text_field :input_text, placeholder: 'Enter the text to be translated. Ex. Good morning!', class: 'form-control custom-style' %>
        </div>

        <div class="mb-3">
          <%= form.label :language, 'Which language are we translating to?', class: 'col-form-label font-weight-bold' %>
          <%= form.text_field :language, placeholder: 'Enter your target language. Ex. Chinese/Japanese/French/...', class: 'form-control custom-style' %>
        </div>

        <div class="mb-3">
          <%= form.label :tone, 'How should your translation feel? ', class: 'col-form-label font-weight-bold' %>
          <%= form.text_field :tone, placeholder: 'Enter your desired tone. Ex. Casual/Formal/Caring/Sarcastic/...', class: 'form-control custom-style' %>
        </div>

        <div class="mb-3">
          <%= form.label :context, 'Let\'s set the scene!', class: 'col-form-label font-weight-bold' %>
          <%= form.text_field :context, placeholder: 'Tell us more about where or how you\'ll use this translation. Ex. At home; To my parents', class: 'form-control custom-style' %>
        </div>

      </div>
    </div>

    <div class="mt-4">
      <%= form.submit 'Translate', class: 'btn btn-dark col-2 mr-2' %> 
      <%= link_to 'Cancel', translations_path, class: 'btn btn-light col-2' %>
    </div>
      
  <% end %>
</div>
