<h3>Translation Result</h3>

<p><strong>Input Text:</strong> <%= @translation.input_text %></p>
<p><strong>Tone:</strong> <%= @translation.tone %></p>
<p><strong>Context:</strong> <%= @translation.context %></p>
<p><strong>Output Text:</strong> <%= @translation.output_text %></p>

<%= link_to 'New Translation', new_translation_path, class: 'btn btn-dark col-2 mr-2' %>
<%= link_to 'Back to Homepage', translations_path, class: 'btn btn-light col-2 mr-2' %>
<%= link_to 'Delete', translation_path(@translation), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
