<div class="container mt-4">
  <h4 class="font-weight-bold mb-3">Here's Your Translation :D</h4>

  <!-- Card for Input, Tone, and Context -->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <hr class="mt-2 mb-3">
      <p><strong>Input Text:</strong> <%= @translation.input_text %></p>
      <p><strong>Language:</strong> <%= @translation.language %></p>
      <p><strong>Tone:</strong> <%= @translation.tone %></p>
      <p><strong>Context:</strong> <%= @translation.context %></p>
    </div>
  </div>

  <!-- Card for Output Text -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Translation Result</h5>
      <hr class="mt-2 mb-3">
      <p class="card-text"><%= @translation.output_text %></p>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="mt-4">
    <%= link_to 'New Translation', new_translation_path, class: 'btn btn-dark mr-2 col-2' %>
    <%= link_to 'Back to Homepage', translations_path, class: 'btn btn-light mr-2 col-2' %>
    <%= link_to 'Delete', translation_path(@translation), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  </div>
</div>
