<div class="d-flex justify-content-center align-items-center">
  <div class="auth-container text-center mt-5">
    <h2>Hello there!</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f| %>
      <div class="field mt-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'custom-field' %>
      </div>

      <div class="field mt-3">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'custom-field' %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group row mt-3">
        <div class="col-sm-12">
          <div class="custom-control custom-checkbox text-left"> <!-- Removed column sizing here -->
            <%= f.check_box :remember_me, class: 'custom-control-input' %> <!-- Removed inline styling -->
            <%= f.label :remember_me, class: 'custom-control-label' %> <!-- Moved label here and changed class -->
          </div>
        </div>
      </div>
    <% end %>    

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-dark mb-2', style: 'width: 280px;'%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

