<div class="container mt-4">
  <h4 class="font-weight-bold mb-3">Update Post</h4>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= form_with model: @post, local: true do |form| %>

    <div class="card card-white">
      <div class="card-body">
      
        <div class="mb-3">
          <%= form.label :subject, 'Subject', class: 'col-form-label font-weight-bold' %>
          <%= form.text_field :subject, class: 'form-control custom-text-field' %>
        </div>

        <div class="mb-3">
          <%= form.label :content, 'Content', class: 'col-form-label font-weight-bold' %>
          <%= form.text_area :content, rows: 8, class: 'form-control custom-text-field' %>
        </div>

      </div>
    </div>

    <div class="mt-4 text-right">
      <%= form.submit 'Update', class: 'btn btn-dark col-2 mr-2' %> 
      <%= link_to 'Back', posts_path, class: 'btn btn-secondary col-2' %>
    </div>
      
  <% end %>
</div>
