<div class="d-flex align-items-center mb-3">

  <%= form_with url: posts_path, method: :get, local: true, class: 'flex-grow-1', id: 'posts_filter_form' do %>
    <div class="row">
    <div class="custom-control custom-checkbox mx-3">
      <%= check_box_tag 'user_filter', 'mine', params[:user_filter] == 'mine', id: 'filter_mine', class: 'custom-control-input', onchange: 'this.form.submit();' %>
      <%= label_tag 'filter_mine', 'My Posts', class: 'custom-control-label' %>
    </div>
    <div class="custom-control custom-checkbox mr-3">
      <%= check_box_tag 'time_filter', 'day', params[:time_filter] == 'day', id: 'filter_day', class: 'custom-control-input', onchange: 'submitForm()' %>
      <%= label_tag 'filter_day', 'Past day', class: 'custom-control-label' %>
    </div>
    <div class="custom-control custom-checkbox">
      <%= check_box_tag 'time_filter', 'week', params[:time_filter] == 'week', id: 'filter_week', class: 'custom-control-input', onchange: 'submitForm()' %>
      <%= label_tag 'filter_week', 'Past week', class: 'custom-control-label' %>
    </div>
    </div>
  <% end %>

  <%= link_to 'New Post', new_post_path, class: 'btn btn-dark text-center', style: 'width: 186px;' %>
</div>

<% @posts.each do |post| %>
    <%= link_to post_path(post), class: 'text-decoration-none text-dark' do %>
      <div class="card card-white card-white-hover mb-3 p-3">
        <div class="row no-gutters align-items-center">
          <div class="col-md-1 text-center">
            <div class="py-2">
              <% if post.user.profile_image.attached? %>
                <%= image_tag(post.user.profile_image, alt: post.user.username, class: "rounded-circle", style: "height: 70px; width: 70px;") %>
              <% else %>
                <%= image_tag('default-profile.png', alt: 'Default profile', class: "rounded-circle", style: "height: 70px; width: 70px;") %>
              <% end %>
            </div>
            <strong class="small"><%= post.user.username %></strong>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title"><%= post.subject %></h5>
              <hr class="mt-2 mb-3">
              <p class="card-text"><%= post.content %></p>
            </div>
          </div>
          <div class="col-md-1 text-right pr-3">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  