<!DOCTYPE html>
<html>
<head>
  <title>Jack O Translate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <%= stylesheet_link_tag 'application', 'media' => 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark text-white mb-3">
    <h2 class="title">Jack O Translate</h2>
  </nav>
  
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <main id="main">
      <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_importmap_tags %>
</body>
</html>
